version: "3.9"

services:
  api:
    image: dwayneward/music_prj:version1
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
    volumes:
      - ./.docker_env:/app/.env
      - ./django_media:/app/django_media
  migrations:
    image: dwayneward/music_prj:version1
    depends_on:
      postgres:
        condition: service_started
    command: python manage.py migrate
    volumes:
      - ./.docker_env:/app/.env
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: music_db
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ./postgres-data:/var/lib/postgresql/data